@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
/*------------------Base Style-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.logo{
  display: flex;
}
.logo p{
  padding-top: 30px;
  margin: 0px;
  font-family: 'Balsamiq Sans', cursive;
}
.logo img{
  width: 130px;
  padding-bottom: 5px;
}
.logo p{
  font-weight: bold;
  color: #2352ec;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.navbar{
  font-family: 'Balsamiq Sans', cursive;
  background-color: rgb(255, 255, 255);
  padding: 0rem;
}
/*------------CONTACT FORM CSS-------------------------*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body,input,textarea{
    font-family: sans-serif;  
  }
  .cont{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
  }
  .contact{
    position: relative;
    width: 100%;
  }
  .contactinfo{
    position: relative;
    width: 100%;
    background-color: #12475f;
    color: white;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .contactinfo h2{
    font-size: 20px;
  }
  .contactinfo hr{
    position: relative;
    height: 4px;
    width: 60px;
    margin: 30px 0;
    background-color: white;
    border: none;
  }
  .info{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  .info label{
    position: relative;
    font-size: 13px;
    padding: 5px;
    background-color: #1abc9c;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
  }
  .info a{
    color: white;
  }
  .info a:hover{
    text-decoration: underline;
  }
  .socialicon{
    position: relative;
    margin: 80px 0;
  }
  .socialicon p{
    margin-bottom: 20px;
  }
  .socialicon a{
    position: relative;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 14px;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    text-decoration: none;
  }
  .socialicon a:hover{
    background-color: #1abc9c;
  }
  .contactform{
    position: relative;
    padding: 40px;
    box-sizing: border-box;
  }
  .contactform h2{
    font-size: 20px;
    color: #12475f;
    margin: 20px 0;
  }
  .contactform hr{
    position: relative;
    width: 60px;
    height: 4px;
    background-color: #1abc9c;
    border: none;
    margin-bottom: 30px;
  }
  .contactform form{
    position: relative;
  }
  .contactform form input[type="text"],.contactform form input[type="number"]{
    display: block;
    width: 280px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #12475f; 
    border: none;
    color: white;
    outline: none;
  }
  .contactform form textarea{
    display: block;
    width: 280px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #12475f; 
    border: none;
    color: white;
    outline: none;
  }
  .contactform form input[type="submit"]{
    display: block;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #1abc9c;
    color: #12475f;
    cursor: pointer;
    transition: all .3s;
  }
  .contactform form input[type="submit"]:hover{
    box-shadow: 2px 2px #12475f;
  }
  
  @media only screen and (min-width: 768px){
    .contactform{
      /* width: 80%; */
      margin: 0 auto;
  }
  .contactform form input[type="text"],.contactform form input[type="number"],.contactform form textarea{
    width: 700px;
  }
  }
  
  @media only screen and (min-width: 1000px){
    .cont{
      display: flex;
      justify-content: center;
      align-items: center;
      background: lightblue;
    }
    .container::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .contact{
      position: relative;
      background-color: rgb(255, 255, 255);
      width: 80%;
      padding: 10px;
      height: 75vh;
    }
    .contactinfo{
      position: absolute;
      width: 300px;
      height: auto;
      margin-left: 5%;
      top: 60px;
  }
  .socialicon{
    margin: 40px 0;
  }
  .contactform{
    float: right;
    width: auto;
    position: absolute;
    margin-left: 40%;
  }
  .contactform form input[type="text"],.contactform form input[type="number"],.contactform form textarea{
    background-color: transparent;
    border-bottom: 1px solid #12475f;
    color: #12475f;
    height: 40px;
    width: 430px;
  } 
  }

  
/*---------CONTACT FORM END-----------------*/
  

@media only screen and (max-width: 600px) {
	      body {
            word-break: break-all;
            margin: 0;
            padding: 0;
        }
        .logo2{
            margin: 0;
            padding: 0;
        }
        .clash{
          margin: 0;
        }
        .logo p{
          margin-bottom: 0rem;
          padding-top: 15px;
        }
      }

/*---------Header------------*/
.header1{
    background-color: blue;
    height: 50px;
}


.head1{
    float: left;
    list-style: none;
    padding-left: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
  }


/*--------Navbar------*/
.logo2{
    margin-left: 35px;
    position: sticky;
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 1;
  }
.navbar .logo img{
   padding-left: 50px;
}
.navbar-nav li{
    padding: 0 25px;
}
.navbar-nav li a{
    color: rgb(0, 128, 167)!important;
}
.nav-link{
    text-transform: uppercase;
    font-size: 19px;
}
.navbar-nav li a:hover{
    color: rgb(223, 86, 97)!important;
}
.navbar-nav li a.active{
    color: rgb(0, 195, 255)!important;
}

@media only screen and (max-width: 600px) {
	body {
			word-break: break-all;
        }
        .navbar .logo img{
            margin: 0;
            padding: 5px;
            float: left;
            width: 50px;
            padding-left: 0;
        }
        .logo p{
          font-weight: bold;
          color: rgb(17, 96, 216);
          /* margin-left: 10px; */
          margin-bottom: 0px;
          padding-top: 15px;
          font-size: 14px;
        }
        .clash{
          margin: 0;
        }
        .info ul li{
          word-break: keep-all;
        }
  }

/* -------------Slider--------------------*/
.carousel-item img{
    height: 550px;
}
.carousel-caption{
 background: rgba(0, 0, 0, 0.7);
 margin-bottom: 1px;
 z-index: 0;
}
.carousel-caption p{
    color: grey;
    font-size: 21px;
}

@media only screen and (max-width: 600px){
    .carousel-item img{
        width: 100%;
        height: 250px;
    }
    .logo p{
      font-weight: bold;
      color: rgb(17, 96, 216);
      /* margin-left: 10px; */
      margin-bottom: 0px;
    }
    .clash{
      margin: 0;
    }
  }
.carousel-caption h5{
    color:lightgrey;
    font-size: 38px;
  }

/*--------------Introduction--------------*/
#intro{
    padding-top: 75px;
}
.intro-header{
    color: rgb(36, 137, 155);
    font-size: 29px;
    font-weight: bold;
}
.intro-des{
        font-size: 17px;
        text-align: justify;
}
.intro-img img{
    padding-top: 50px;
}
.read-more{
    background: rgb(14, 159, 196);
    color: #fff;
    height: 50px;
    width: 160px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}
.read-more:hover{
    background-color: rgb(170, 255, 170);
    color: black;
}
.modal-title{
color: rgb(209, 137, 209);
font-size: 22px;
}
.modal-content{
    background: whitesmoke;
}
.modal-intro{
    font-size: 17px;
    text-align: justify;
}
.intro-image img{
    padding-top: 20px;
}

/*----------------Banner-------------*/
#banner{
    padding-top: 75px;
}
.knowledge{
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../image/adhr.jpg); 
height: 335px;
background-size:cover;
}
.knowledge h1{
    text-align: center;
    word-break: keep-all;
    padding-top: 145px;
    font-size: 55px;
    color: #ffb606;
}
.know{
    color: #fff;
}

/*--------------Message from chief------*/
#message{
    padding-top: 75px;
}
.message h3{
    color: rgb(32, 123, 165);
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    word-break: keep-all;
    text-align: center;
}
.message p{
    font-size: 17px;
    text-align: justify;
}

/*--------Why-Us-----------*/
#whyus{
    padding-top: 75px;
}
.grp-img{
    background-image: url('../image/smallstd.jpg');
    background-size: cover;
    height: 450px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 60px; */
    box-sizing: border-box;
}
.whyus-des{
    background: whitesmoke;
}
.whyus-des h3{
    padding-top: 55px;
    text-align: center;
    word-break: keep-all;
    font-size: 31px;
    font-weight: bold;
    color: rgb(32, 123, 165);
}
.whyus-des p{
    font-size: 17px;
    text-align: justify;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .whyus-des p{
    font-size: 17px;
    text-align: justify;
    margin-left: 0px;
}
.knowledge h1{
  padding-top: 110px;
  font-size: 40px;
}
}

/*---------Facilities---------*/
#facilities{
  padding-top:75px ;
}
.fac h3{
  text-align: center;
  word-break: keep-all;
  font-size: 31px;
  font-weight: bold;
  color: rgb(41, 146, 160);
}
.card-body{
  height: auto;
  word-break: break-all;
}
.card-body .card-title{
  color: rgb(0, 0, 0);
}
/*----------------About Us---------*/
#about{
    padding-top: 75px;
}
#footer
{
	background: #111111;
	color: #fff;
	padding: 12px;	
}
.fa-copyright
{
	margin: 3px;
	color: red;
}
#footer ul
{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
	height: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#footer a ul:hover
{
	color: lightgray;
}
#footer a 
{
	text-decoration: none;
}



















/* * {
    
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    
  }
  
 

#contact {
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#00B894), to(#00B894)), url(../images/contact-bg.jpg) no-repeat;
    background: linear-gradient(#00B894, #00B894), url(../images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
  }
  
  #contact .heading {
    font-size: 4rem;
    padding-top: 5rem;
    margin: 2rem 0;
    color: #fff;
    text-align: center;
    position: relative;
    color: #333;
  }
  
  #contact .heading::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    border-radius: 5rem;
    background: #333;
  }
  
  #contact .heading::after {
    background: #fff;
  }
  
  #contact form {
    background: #fff;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 1rem #333;
            box-shadow: 0 0 1rem #333;
  }
  
  #contact form .inputBox {
    text-align: center;
    position: relative;
  }
  
  #contact form .inputBox input, #contact form .inputBox textarea {
    outline: none;
    padding: 0 1rem;
    height: 4rem;
    width: 90%;
    border-radius: .5rem;
    border: .2rem solid #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  #contact form .inputBox input:focus ~ h3,
  #contact form .inputBox input:valid ~ h3, #contact form .inputBox textarea:focus ~ h3,
  #contact form .inputBox textarea:valid ~ h3 {
    top: -1rem;
    left: 5.9%;
    color: #ff3300;
  }
  
  #contact form .inputBox input:focus, #contact form .inputBox textarea:focus {
    border-color: #00B894;
  }
  
  #contact form .inputBox textarea {
    resize: none;
    padding: 1rem;
    height: 20rem;
  }
  
  #contact form .inputBox input[type="submit"] {
    border: none;
    background: #00B894;
    color: #fff;
  }
  
  #contact form .inputBox input[type="submit"]:hover {
    background: #333;
  }
  
  #contact form .inputBox h3 {
    position: absolute;
    top: 3rem;
    left: 8%;
  } */




  /* @media screen and (min-width:768px){
  .carduniform img{
    height: 100px;
  }
  .cardcafe img{
    height: 100px;
  }
  .cardclass img{
    height: 100px;
  }
  .card-body{
    height: 300px;
    padding: 0.5rem;
  }
} */

/*------------------Page-Footer---------------*/

/* #footer{
    padding-top: 75px;
}

.page-footer{
    background: #111111;
	color: #fff;
	padding: 12px;	
}

.page-footer ul{
    text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-top: 25px;
	height: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.page-footer  a ul:hover
{
    text-decoration: none;
	color: lightgray;
}

.page-footer a{
    text-decoration: none;
}

.copyright p{
    padding-top: 35px;
    text-align: center;
    font-size: 23px;
}

.foot h3{
    color: cyan;
    font-size: 33px;

} */